.VideoContent {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-family: 'Poppins';
    font-size: 15px;
    font-weight: 500;
    margin-top: 90px;
}

.VideoContent .video {
    width: 400px;
    height: 250px;
    margin: 10px 20px 40px 20px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    box-shadow: 1px 1px 8px #3e3e3e;
}

.VideoContent .video iframe {
    height: 190px;
}

.VideoContent .video .title {
    height: 60px;
    padding: 2px;
    text-align: justify;
}

@media (max-width: 850px) {
    .VideoContent {
        margin-top: 50px;
    }
}