.blogPost {
    background-color: #eaeaea;
    margin: 40px 15% 40px 15%;
    border-radius: 20px;
    padding: 20px;
    font-family: 'Poppins';
}

.blogPost .title {
    font-size: 2em;
    font-weight: 500;
    margin: 10px 0 20px 0;
}


.blogPost .content {
    font-size: 15px;
    margin: 50px 50px;
    text-align: justify;
}

.resources {
    display: flex;
    justify-content: center;
    margin: 40px 0;
}

.resources iframe {
    width: 75%;
    height: 350px;
    border: 2px solid rgb(70, 70, 70);
}

.blogDetails {
    display: flex;
    flex-wrap: nowrap;
    justify-content: left;
}

.blogDetails div:nth-child(1) {
    margin-right: 2px;
}

.authourName {
    font-weight: 500;
    font-size: 20px;
    text-align: left;
    margin-top: 3px;
}

.datePublished {
    font-size: 14px;
    text-align: left;
    color: rgb(99, 99, 99);
}

@media (max-width: 850px) {
    .blogPost {
        zoom: 0.6;
        margin: 40px 5% 40px 5%;
    }
}

@media (max-width: 400px) {
    .resources iframe {
        width: 90%;
    }
}