.blogPost {
    background-color: #eaeaea;
    margin: 30px 15% 40px 15%;
    border-radius: 20px;
    padding: 20px;
    font-family: 'Poppins';
}

.blogPost .title {
    font-size: 2em;
    font-style: italic;
    margin-bottom: 20px;
}

.blogPost .datePublished {
    font-size: 14px;
    margin: 5px 0;
}

.blogPost .content {
    font-size: 16px;
    margin: 30px 0 50px 0;
}

.resources {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.resources iframe {
    width: 450px;
    border: 1px solid #000;
    border-radius: 5px;
    height: 300px;
    margin: 3%;
}

.feedbackForm {
    display: grid;
    margin: 20px;
    font-family: 'Poppins';
    margin: 30px 0 10px 0;
}

.feedbackForm .heading {
    font-size: 30px;
}

.feedbackForm form {
    background-color: #eaeaea;
    padding: 20px;
    border-radius: 20px;
    width: 100%;
}

.feedbackForm form div {
    margin: 20px 0;
}

.feedbackForm form input {
    width: 100%;
    outline: none;
    height: 40px;
    margin: 10px 0;
    font-size: 16px;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid #eaeaea;
}

.feedbackForm form textarea {
    width: 100%;
    outline: none;
    font-size: 16px;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    resize: none;
    border: 2px solid #eaeaea;
}

.feedbackForm form label {
    font-size: 14px;
    font-weight: 600;
}

.feedbackForm .submitButton {
    background-color: #1e00ff;
    padding: 10px;
    color: #FFF;
    border: 1px solid #1e00ff;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

@media (max-width: 850px) {
    .blogContent {
        zoom: 0.5;
    }
}