.blogPost {
    background-color: #eaeaea;
    padding: 20px;
    font-family: 'Poppins';

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.blogPost .title {
    font-size: 2em;
    font-weight: 600;
    margin: 20px 15% 10px 15%;
}


.blogPost .content {
    font-size: 18px;
    width: 50%;
    margin: 30px 25%;
    text-align: justify;
    font-weight: 400;
}

.resources {
    display: flex;
    justify-content: center;
    margin: 40px 0;
}

.resources iframe {
    width: 70%;
    height: 450px;
    box-shadow: 2px 2px 8px rgb(129, 129, 129);
}

.blogDetails {
    display: flex;
    flex-wrap: nowrap;
    justify-content: left;
    margin: 10px 15%;
}

.blogDetails div:nth-child(1) {
    margin-right: 2px;
}

.authourName {
    font-weight: 500;
    font-size: 20px;
    text-align: left;
    margin-top: 3px;
}

.datePublished {
    font-size: 16px;
    text-align: left;
    color: rgb(126, 126, 126);
}

.feedbackSection {
    margin: 30px 15% 30px 15%;
}

@media (max-width: 1000px) {
    .blogPost {
        zoom: 0.6;
    }

    .feedbackSection {
        margin: 30px 15% 30px 15%;
    }

    .resources iframe {
        height: 400px;
        width: 80%;
    }

    .blogPost .content {
        font-size: 22px;
        width: 70%;
        margin: 30px 15%;
    }

    .blogPost .title {
        font-size: 2em;
        margin: 20px 10% 5px 10%;
    }

    .blogDetails {
        margin: 10px 10% 10px 10%;
    }

    .authourName {
        margin-top: 5px;
        font-weight: 600;
        font-size: 16px;
    }
}

@media (max-width: 550px) {
    .blogPost .title {
        margin: 20px 5% 5px 5%;
    }

    .blogPost .content {
        width: 80%;
        margin: 30px 10%;
    }

    .resources iframe {
        height: 400px;
        width: 90%;
    }

    .feedbackSection {
        margin: 30px 5% 30px 5%;
    }
}